@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (min-width: 1150px) {
  html {
    background-size: 30px 30px;
    background-image: radial-gradient(
      circle,
      #d4d4d4 1px,
      rgba(0, 0, 0, 0) 1px
    );
  }

  @media (prefers-color-scheme: dark) {
    html {
      background-size: 30px 30px;
      background-image: radial-gradient(
        circle,
        #262626 1px,
        rgba(0, 0, 0, 0) 1px
      );
    }
  }
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

iframe {
  max-width: 692px;
}
